	<div class="loader">
	<div class="preloader-wrapper big active">
	  <div class="spinner-layer spinner-blue">
		<div class="circle-clipper left">
		  <div class="circle"></div>
		</div><div class="gap-patch">
		  <div class="circle"></div>
		</div><div class="circle-clipper right">
		  <div class="circle"></div>
		</div>
	  </div>

	  <div class="spinner-layer spinner-red">
		<div class="circle-clipper left">
		  <div class="circle"></div>
		</div><div class="gap-patch">
		  <div class="circle"></div>
		</div><div class="circle-clipper right">
		  <div class="circle"></div>
		</div>
	  </div>

	  <div class="spinner-layer spinner-yellow">
		<div class="circle-clipper left">
		  <div class="circle"></div>
		</div><div class="gap-patch">
		  <div class="circle"></div>
		</div><div class="circle-clipper right">
		  <div class="circle"></div>
		</div>
	  </div>

	  <div class="spinner-layer spinner-green">
		<div class="circle-clipper left">
		  <div class="circle"></div>
		</div><div class="gap-patch">
		  <div class="circle"></div>
		</div><div class="circle-clipper right">
		  <div class="circle"></div>
		</div>
	  </div>
	</div>
  	</div>
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper">
			<a href="/" class="brand-logo"><%-title%></a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
			</div>
		</nav>
	</div>
	<ul class="sidenav" id="mobile-demo">
		<li><div class="user-view">
		  <div class="background">
			<img src="img/footer_bg.jpg">
		  </div>
		  <a href="#"><img class="circle" src="https://livemedicedgley.com.bo/storage/settings/October2020/ciFNWrULgVbzQOZwdxA4.png"></a>
		  <a href="#"><span class="white-text name">Tele Medicina - LiveMedic</span></a>
		  <a href="#"><span class="white-text email">info@livemedicedgley.com.bo</span></a>
		</div></li>
		<% for(var i=0; i < menu.length; i++){ %>
		  <li><a href="<%-menu[i].url%>"><%-menu[i].title%></a></li>
		  <% } %>
	</ul>
  