<!DOCTYPE html>
<html>
  <head>
    <%-include('partials/header')%>
  <style>
    .carousel .carousel-item {
        width: 340px !important;
        padding: 2px;
    }
    .card{ 
        border-radius: 80px; 
        position: relative !important;
        right: 2px !important;
    }
  </style>
  </head>
  <body>

    <%-include('partials/menu')%>

    <div class="carousel">
      <a class="carousel-item" href="#"><img src="https://livemedicedgley.com.bo/storage/blocks/April2021/4xMoQBrKcyvPv9WtM9QNDJhZ9VgAgxAyAL755uzL.jpeg"></a>
      <a class="carousel-item" href="#"><img src="https://livemedicedgley.com.bo/storage/blocks/April2021/kxr92QsNoWxTnYhg0cbtz0JEWUHdgsUSryYoqT0W.jpeg"></a>
      <a class="carousel-item" href="#"><img src="https://livemedicedgley.com.bo/storage/blocks/October2020/YSTpjV6pb3PzPSR2xcYZssz9zeE9OX5aSQ0CxxC9.jpeg"></a>
    </div>

    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle blue">domain</i>
        <span class="title">Especialistas</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle green">insert_chart</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
      <li class="collection-item avatar">
        <i class="material-icons circle red">play_arrow</i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      </li>
    </ul>

    <%-include('partials/footer')%>

    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          fullWidth: true
        });
      });
    </script>
    
  </body>
</html>
      